@pri-color: #6c71c4;
@sec-color: #cb4b16;


#signout button {
    color: gray;
    padding: 0.4em;
    float: right;
    border: 1px solid @pri-color;
    color: @pri-color;
    transition: all 0.2s;
}
#signout button:hover {
    background-color: @pri-color;
    color: white;
}

#appbody {
    .card {
        width: 12em;
        height: 3em;
        padding: 0.3em;
        margin: 0.4em;
        box-shadow: 3px 3px 4px 0px hsl(0, 0%, 50%);
        transition: box-shadow 0.2s;
        border-radius: 2px;
    }

    .card:hover {
        box-shadow: 3px 5px 4px 0px hsl(0, 0%, 60%);

    }

    #card-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        margin-top: 1em;

        .card-item {
            position: relative;
            transition: transform 0.2s;

            .card-controls {
                position: absolute;
                right: 0.4em;
                bottom: 0.4em;
            }

            button {
                float: right;
                transition: 0.2s all;
                color: #363636;
            }

            button:hover {
                color: white;
                background-color: @pri-color;
            }

        }

        .card-item:hover {
            transform: translatey(-2px);
        }

    }

    /* Drawer */
    button#toggle-button {
        border: 1px solid black;
    }
    button#toggle-button:hover {
        background-color: black;
        color: white;
    }

    #card-drawer-contents {
        transition: max-height 0.2s;
        overflow: hidden;
    }

    .open #card-drawer-contents {
        max-height: 15em;
    }

    .closed #card-drawer-contents {
        max-height: 0;
    }

    /* Card Adder */
    #card-adder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;

        button {
            border: 1px solid @sec-color;
            transition: all 0.2s;
            border-radius: 2px;
            background-color: white;
            color: @sec-color;
            margin-top: 5px;
            padding: 0.35em 0.6em;
        }

        button:hover {
            color: white;
            background-color: @sec-color;
        }

        #card-form {
            div {
                width: 10em;
                margin-bottom: 0.2em;
            }
            input {
                float: right;
                display: inline-block;
            }
            #color-chooser {
                display: inline-block;
                width: 7.5em;

                #color-choosers {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 6em;
                    width: 100%;
                    margin-left: 2px;

                    span {
                        width: 1.3em;
                        height: 1em;
                        border-radius: 2px;
                        display: inline-block;
                        box-shadow: 3px 1px 4px 0px hsl(0, 0%, 50%);
                        transition: all 0.2s;
                    }
                    span:hover {
                        transform: translatey(-1px);
                    }
                }
            }
        }

        #demo-card {
            float: right;
        }

    }

}

@media (max-width: 460px) {

    .card-item {
        width: 100%;
    }

    #appbody {
        .card {
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
        }
    }
}