@pri-color: #6c71c4;
@sec-color: #cb4b16;

h1 {
    font-family: "Patua One", Georgia, serif;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 14pt;
    max-width: 45em;
    margin: auto;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    border: none;
    border-radius: 2px;
    background-color: inherit;
    padding: 1px 4px;
    margin: 1px 2px;
    font-size: 0.67em !important;
}

input {
    border: 1px solid grey;
    border-image: none;
    height: 2em;
    font-family: Raleway, sans-serif;
    padding: 5px;
}